* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
}



.navbar {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    gap: 2rem;
    padding: 0 1rem;
    z-index: 2;
    width: 100%;
    height: 13vh;
    transition: top 0.3s, height 0.3s;

}


.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    text-decoration: none;

}

.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: .25rem;
    align-items: center;
    font-size: 2vw;
}

.navbar li:hover {
    color: gray;
}

.navbar img {
    border-radius: 1vw;
    height: 5vw;
    width: auto;
    margin: 10px;
}



.zillow-box {
    background-color: purple;
    text-decoration: none;
    width: 200px;
    height: 200px;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    border-radius: 30px;
    transition-property: color;
    transition-duration: 0.3s;
}





.company {
    font-size: 3rem;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;


}

.zillow-box:hover {
    background-color: rgb(180, 0, 180);
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes zillow-box {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.add_box {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    width: 200px;
    height: 200px;
    color: purple;
    margin: 10px;
    border-radius: 20px;
    border-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    font-size: 8vh;
    transition: color 5s;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.add_box :hover {
    color: rgb(180, 0, 180);
}

.delete_button {
    background-color: red;
}