.navbar {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 1rem;
    z-index: 2;
    width: 100%;
    height: 70px;
    transition: top 0.3s, height 0.3s;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    text-decoration: none;
    transition: 0.4s;
    margin-right: 20px;
    /* Add margin to the right side of the navbar */
}

.navbar li {
    margin-left: 10px;
    /* Add margin between list items */
}


.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: .25rem;
    align-items: center;
    font-size: 2vw;
}

.navbar li:hover {
    color: gray;
}

.navbar img {
    border-radius: 10px;
    height: 60px;
    width: auto;
    margin-right: 10px;

}

.navbar-buttons {
    font-size: 1.5rem;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

/* Active state for hamburger menu */
.bar.active:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.active:nth-child(2) {
    opacity: 0;
}

.bar.active:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        /* Adjust this value as needed */
        left: 0;
        background-color: purple;
        width: 100%;
        height: auto;
        padding: 20px;
        z-index: 5;

    }

    .navbar li {

        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .navbar ul.active {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }
}


.zillow-box {
    background-color: purple;
    text-decoration: none;
    width: 200px;
    height: 200px;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    border-radius: 30px;
    transition-property: color;
    transition-duration: 0.3s;
}





.company {
    font-size: 3rem;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;


}

.zillow-box:hover {
    background-color: rgb(180, 0, 180);
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes zillow-box {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.add_box {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    width: 200px;
    height: 200px;
    color: purple;
    margin: 10px;
    border-radius: 20px;
    border-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    font-size: 8vh;
    transition: color 5s;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.add_box:hover {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.delete_button {
    background-color: gray;
}

.delete_button:hover {
    background-color: rgb(255, 75, 75);

}