

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.ql-align-center{
    text-align: center !important;
}
/* Add this CSS to your main stylesheet or inline */
.ql-font-arial {
    font-family: 'Arial, sans-serif';
}
.ql-font-courier {
    font-family: 'Courier, monospace';
}
.ql-font-georgia {
    font-family: 'Georgia, serif';
}
.ql-font-impact {
    font-family: 'Impact, Charcoal, sans-serif';
}
.ql-font-tahoma {
    font-family: 'Tahoma, Geneva, sans-serif';
}
.ql-font-times {
    font-family: 'Times New Roman, Times, serif';
}
.ql-font-verdana {
    font-family: 'Verdana, Geneva, sans-serif';
}


body {
    background: #eee;
    height: 100%;
    margin:0;
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.user {
    margin-top: 2svh;
    background-color: rgba(255, 255, 255, 0.649);
    margin-bottom: 6vh;
    line-height: normal !important;
    border-style: solid ;
    border-color: #49B14A ;
    border-width: 1.5px;
    min-height: fit-content;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.ql-size-small{
    font-size: 1.3em;
    font-weight: 400;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
}

h4 {
    text-align: left;
    margin: auto;
    font-size: 30px;
}

ul {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

hr {
    margin-bottom: 20px;

    margin-left: 5%;
    margin-right: 5%;
    border-top: 3px solid #884C9D;
}

p {
    margin-left: 5%;
    margin-right: 5%;
}


/*///////////////////////////////*/
/*Banner and text stuff*/
.background-imagehome {
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
    height: 100%;
    /* Adjust height as needed */

}
.background-image {
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
    height: 38vh;
    min-height: fit-content;
    /* Adjust height as needed */

}
.background-image img{

    width: 100%;
    height: 100%;
    display: block;
}
.background-image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient( #000000ab, rgba(0, 0, 0, 0)); /* Adjust gradient as needed */
    pointer-events: none; /* Allows clicking through the gradient overlay */
}
.background-imagehome::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( #2892decd, rgba(0, 0, 0, 0)); /* Adjust gradient as needed */
    pointer-events: none; /* Allows clicking through the gradient overlay */
}
.home-background {
    background-image: url('../../public/glazer_banner.jpg');
}

.playstyles-background {
    background-image: url('../../public/glazer_dinasour.jpg');
}

.descriptoin{
    border-top: solid;
    border-width: 3px;
    border-color: #884C9D;
    padding-top: 3vh;
    width: 90%; /* Spans most of the width of the screen */
    border-radius: 0px;
    margin: 0 auto; /* Centers the div horizontally */
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.1em;
}
.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* #884C9D hue getting darker towards the bottom */

}


.intro-text{
    position: absolute;
    height: fit-content;
width: 70vw;
    /* Move the top edge to the vertical center */
    left: 50%;
    /* Move the left edge to the horizontal center */
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    top: 50%;
    z-index: 1;
}

.intro-text h1, .intro-text .CrumbHolder{
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    height: fit-content;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.844);
}
.intro-text .CrumbHolder{
    font-size: .9em;
}


/*///////////////////////////////*/
/*Grid Boxes stuff*/
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin-top: 0px;
    margin-bottom: 20px;
}
.grid-item{
    padding:0px;
    margin-bottom:2vh;
}
.gridbox{
    display:grid;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    background-color: #884C9D;
    color: white;
    height: 80px;
    margin: 10px;
    width: 80px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.icon-large {
    width: 50px;
    height: 50px;
  }
  .box:hover {
    color: #d124d1;
    border-radius: 10px;
    
  }
.box {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition-property: color;
    transition-duration: 0.3s;
}

a:-webkit-any-link {

    cursor: pointer;
    text-decoration: none;
}

/*///////////////////////////////*/
/*Accordian stuff*/

.accordion-parent {
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #884C9D;
    border-color: black;
    border-style: solid;
    border-color: black;
    box-shadow: 0 0px 1px black;
    max-width: 500px;
    margin: 0 auto 50px;
    /* Center the accordion and add margin at the bottom */

}


.accordion {
    display: flex;
    flex-direction: column;
    color: white;
}
.feedbackBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3px;
}
.rateBox{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.accordion .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 10px 15px;
    fill: white;
    color: white;
    transition: color 0.15s ease, fill 0.15s ease;
    font-weight: 600;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.accordion .toggle:hover {
    color: gray;
    fill: gray;
}

.accordion:first-child .toggle {
    border-bottom: 0;
}

.accordion .toggle .direction-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    font-weight: 600;
}

.accordion .content-parent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
}

.accordion .content-parent.toggled {
    max-height: 500px;
    /* Adjust this value as needed */
}

.accordion .content {
    padding: 10px 15px;
}

.PlayInfo-img {
    max-width: 100%;
    display: block;

    margin: 0 auto;
    /* Center the image horizontally */

    margin-bottom: 0;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.container {
    display: block;
    max-width: 500px;
    flex-direction: column;
    margin: auto;
    padding: 16px;

}

/*///////////////////#54B9B6////////////*/
/*footer stuff*/
.footer {
    background-color: #54B9B6;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer a,
.footer a:visited {
    color: white;
    text-decoration: none;
}


@media (max-width: 600px) {
    .footer {
        min-height: 100px;
        /* Increased minimum height for mobile, adjust as needed */
        padding: 1rem 0;
        /* Adjust padding to ensure nothing is hidden by mobile browsers' interface elements */
    }

    .footer-content {
        font-size: 0.9rem;
        /* Smaller font size on mobile */
        
        /* Reduced padding */
    }
    .intro-text{
        font-size: 18px;
        width: 95%;
    }
}





/*///////////////////////////////*/
/*Navbar stuff*/

:root {
    --mainColor: #884C9D;
    --mainColorLight: rgb(193, 60, 193);
    --secondaryColor: rgb(141, 136, 136);
    --textColor: white;
}

.header-img {
    width: 110px;
    /* Set width */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 20px;
    border-radius: 8px;
    /* Add margin for spacing */
}




header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 11;
    justify-content: space-between;
    height: 80px;
    
    font-size: 20px;
    margin: auto;
    padding: 16px 32px;
    
    transition: .5s;


}

/* Adjust header height when scrolled */
header.scrolled {
    height: 60px;
    background-color: var(--mainColor);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    color: var(--textColor);
    /* Adjust the height as desired */
    transition: .5s;

}

nav a {
    margin: 0 1.5rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondaryColor)
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem
}
.HeaderHomeTxt{
    font-weight: 300;
    font-size: 1em;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: #f0f0f0;
}

@media only screen and (max-width: 900px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        background-color: var(--mainColor);
        transition: .4s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 3rem;
    }

}

.map-container {
    display: flex;
    height: 100vh;
    /* Adjusted height for full viewport height */
}

.map {
    flex: 1;
    /* Adjusted map width to take up remaining space */
}

.list-container {
    width: 30%;
    /* Adjusted width for the list container */
    height: 100vh;
    /* Adjusted height to fill the container */
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 100px;
}

.list-container ul {
    list-style-type: none;
    padding: 0;
}

.list-container h2 {
    margin-top: 0;
    font-size: 24px;
    /* Adjust the font size as needed */
}

.list-container li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.list-container h2 {
    margin-top: 0;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .map-container {
        flex-direction: column;
    }

    .list-container {
        width: 100%;
        height: 50vh;
        /* Adjusted height for smaller screens */
    }
}

.link-container-accordion {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
}

.link-container-accordion a {
    display: inline-block;
    justify-content: space-between;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.link-container-accordion a:hover {
    background-color: #ddd;
}


.box-container {
    margin-top: 0px;
    /* Adjust this value as needed */
    overflow-y: auto;
    padding: 20px;
    max-width: 20vw;
    min-width: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.box {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 10%;
    color: #884C9D;
    display: flex;
    align-items: center;
}

.new-box {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px white;
    align-items: center;
    color: #ffffff;
    background-color: #884C9D;
    
}

.box-text {
    font-size: 90%;
    margin-top: .5vh;

}

.selected-box-location {
    padding: 10px;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

/* Media query for smaller screens */


strong {
    font-weight: bold;
}



.holdbox{
    display: flex;
    flex-direction: column;
    background-color: #884C9D;
    margin: auto;
}
.dropdownOptions{
    width: 100%;
    
}
.dropdownDetails{
margin: auto;
font-size: large;
color: white;
margin-top:2% ;
margin-bottom: 2%;
background-color: #884C9D;
border-radius: 10px;
padding-bottom: 10px;
display: flex;
flex-direction: column;
}



  
  

.skills{
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 1%;
}
.skill{
    background-color: #54B9B6;
    border: #eee;
    color: white;
    
    border-radius: 10px;
    
}



  
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 white;
  }
  .popup {
    
    display:flex;
    flex-direction: row;
    font-size: medium;
    text-align: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding: 20px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-sizing: border-box; /* Ensure padding is included in width/height */
    
  }
  
.popupText {
    display: flex;
    flex-direction: column;
    
  }

select.minimal {

    /* styling */
    background-color: #54B9B6;
    text-align: center;
    color: white;
    border: thin solid rgb(0, 0, 0);
    border-radius: 4px;
    font: inherit;
    font-size: xx-large;
    width: 100%;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0 auto;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  

.skills{
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 1%;
    display: flex;
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.skill{
    background-color: #54B9B6;
    border: #eee;
    color: white;
    width: fit-content;
    
    border-radius: 10px;
    
}

select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%),
      linear-gradient(to right, white, white);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, white, white);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: white;
    outline: 0;
  }
  
  .creators{
    font-size: .7em;
    display: flex;
    height: fit-content;
    overflow: scroll;
    margin-bottom: 5px;
  }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 white;
  }
  .popup {

    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 70vw;
    color: #000000;
    font-size: small;
    text-align: center;
    position:fixed;
    z-index: 1;
    height: 50vh;
    align-self: baseline;
    transform: translate(-50%, -50%);
    padding: 20px 0;
    
    }
.popupText {
    display: flex;
    flex-direction: column;
    width: 100%;

    
  }
#ageHead{
    font-size: 14px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    margin: 10;
    margin-bottom: 10px;
    text-align: center;
}
.buttons-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}

#ageSel {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20%;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    font-size: 10px;
}

.meep {
    flex: 1; /* Distribute space equally among all .meep divs */
    margin: 0 4px; /* Optional: Add some space between each .meep */
    display: flex; /* If you need to center content inside .meep */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    font-size: 12px;
}
.invisible{
    visibility: hidden;
    display: none;
}
.popupButton{
    background-color: #884C9D;
    color:white;
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-radius: 0px;
    right:5px;
    bottom: 5px;
    z-index: 1;
    display: flex;
}
.popupButtonIcon{
    height: 5vw;
    width: 5vw;
    align-self: center;
}
.popupButtonIconHome{
    height: 8vw;
    width: 8vw;
}


.user-map-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-map {
    position: relative;
    width: 100%;
    height: 100%;
}
.img-thumb{
    width: 100%;
    height: 80%;
    object-fit:cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}
.imgbox{
    display: flex;
    flex-direction: column;
    width: 93vw;
    height: 35vh;
    font-size: 1.5em;
    align-items: center;
    
}
.imgbox img:hover{
    filter: brightness(1.15);
}
.map-info-div {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Adjust width as needed */
    max-width: 800px; /* Optional: set a max width */
    max-height: 40%; /* Adjust height as needed */
    background: white;
    padding: 20px;
    padding-top: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Ensure it overlays the map */
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the top */
}

.map-info-div > div {
    flex: 1;
    overflow: auto;
}

.map-info-div h2 {
    font-size: 1.5em; /* Adjust as needed */
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
}

.map-info-div div {
    font-size: 1em; /* Adjust as needed */
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
}

.box-image-container {
    flex-shrink: 0;
    width: 40%; /* Adjust width as needed */
    max-height: 150px; /* Set a max height */
    border-radius: 10px;
    margin-left: 15px; /* Add margin to separate text and image */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #ffffff; /* Optional: Add background color to indicate container bounds */
}

.box-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 10px;
}

.map-text {
    flex: 1;
    display: flex;
    overflow: auto;
    overflow-wrap: normal;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
}

.map-text h2 {
    margin: 0;
    margin-top: 3px;
    font-size: 30px; /* Responsive font size */
    margin-bottom: 4px;
    white-space: initial;
}

.map-text p {
    margin: 0;
    font-size: 13px; /* Responsive font size */
    white-space: initial;
}

@media (max-width: 897px) {
    .description {
        margin: 5%;
        font-size: 14px;
    }

    .dropdownDetails {
        font-size: 14px;
    }

    select.minimal {
        font-size: 20px;
    }

    .user-map-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-map {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .map-info-div {
        position: absolute;
        bottom: 20px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%);
        width: 90%; /* Adjust width as needed */
        max-width: 800px; /* Optional: set a max width */
        max-height: 50%; /* Adjust height as needed */
        background: white;
        padding: 20px;
        padding-top: 0;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10; /* Ensure it overlays the map */
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }

    .map-info-div > div {
        flex: 1;
    }

    .box-image-container {
        margin-top: 10px;
        flex-shrink: 0;
        height: 100%;
        max-height: 120px; /* Set a max height for mobile */
        border-radius: 10px;
        margin-left: 15px; /* Add margin to separate text and image */
        justify-content: right;
        display: block;
        background: #ffffff; /* Optional: Add background color to indicate container bounds */
    }

    .box-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
        border-radius: 10px;
    }

    .map-text {
        flex: 1;
        display: flex;
        overflow: auto;
        overflow-wrap: normal;
        flex-direction: column;
        justify-content: baseline;
        align-items: flex-start;
    }

    .map-text h2 {
        margin: 0;
        margin-top: 3px;
        font-size: 6vw; /* Responsive font size */
        margin-bottom: 4px;
        white-space: initial;
    }

    .map-text p {
        margin: 0;
        font-size: 3.5vw; /* Responsive font size */
        white-space: initial;
    }
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
}



.icon-link {
    display: inline-block;
    margin-bottom: 0px;
    text-decoration: none;
    color: inherit;
}

.title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .popup-wrapper.popup {
    visibility: visible;
    opacity: 1;
  }
  
  .popup-wrapper.invisible {
    visibility: hidden;
    opacity: 0;
  }
  
  .popup-container {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .popup-header {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .popup-subtext {
    margin-bottom: 20px;
    color: #666;
  }
  
  .age-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
  }
  
  .age-checkbox {
    display: inline-block;
  }
  
  .buttons-container {
    display: contents;
  }
  
  .submit-button {
    background-color: #54B9B6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    align-self: center;
    margin: 1px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #2892de;
  }
  
  .cancel-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
  }
  .tab{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.tablink{
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.tablink.active{
    background-color: #fff;
    border-top: 2px solid #54B9B6;
    border-left: 2px solid #54B9B6;
    border-right: 2px solid #54B9B6;
    font-weight: bold;
}

.tablink:hover{
    background-color: #ddd;
}
.caroItem{
    width: 100%;
height: 100%;
}
.caro{
    width: 50vw;
    height: 50vw;
    align-items: center;
}
.pap{
width: 100%;
height: 100%;
}

.slidercontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-bottom: 10px;
}
.track{
    display: flex;
    width: 30000px;
    height: 24vh;
}
.item{
    float: left;
    text-align: center;
    align-content: center;
    width: 30vw;
    height: 24vh;
    background-color: #884C9D;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
}
.item:hover{
    filter: brightness(1.2);
}
.styletitle{
    font-size: 1.2em;
    margin-left: 2.5px;
    color: #49B14A;
    font-weight: 500;
}
.activitytitle{
    font-size: 1.1em;
    text-size-adjust: auto;
    text-shadow: #000000;
}
.link{
    color: blue;
    text-decoration: underline;
}
.crumb{
   float: right;
   text-shadow: 1px 1px 5px rgb(255, 255, 255);
}
span .link, span .noLi{
    font-weight: 400;
    font-size: .9em;
    text-shadow: 1px -1px 3px rgb(255, 255, 255);
}
#mainBanner{
    width: 100%;
    height: 98vh;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 1.5vh;
    position: relative;
}
#mainBanner .intro-text{
    position: absolute;
    top: 19vh;
}
.learn{
    font-size: 1.2em;
    text-align: center;
}
#mainBanner .intro-text h1{
    font-size: 2.6em;
}
.kids{
    object-fit:cover;
    position: absolute;
    width:50vw;
    height: 20vh;
    top:.2em;
    left:.2em;
    z-index: 0;
    border-style: solid;
    border-color: #884C9D;
}
.playstylesContainer{
    padding:1em;
    width: 80vw;
    height: fit-content;
    min-height: 32vh;
    max-height: 35vh;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    
}
@media (max-height: 668px ){
    .playstylesContainer{
        min-height: 42vh;
    }
}

.purposeful{
    position:absolute;
    display: flex;
    flex-direction: column;
    width:55vw;
    height: fit-content;
    min-height: 10vh;
    max-height: 25vh;
    font-size: .6em;
    z-index:0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
    text-align: left;
    bottom: .2em;
    right: .2em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border-style: solid;
    border-color: #49B14A;
    overflow: hidden;
}
.alt{
left:auto;
right:.2em;
}
.alt2{
    bottom: .2em;
    left: .2em;
    border-color: #2892de;
}

.blurbs{
    padding: .5em;
    margin-left:.5em;
    margin-right: .5em;
}
.scrollDown{
    box-shadow: 0 0px 15px rgba(255, 255, 255, 0.318);
    font-size: 1.5em;
    font-weight: 475;
    width: 50vw;
    height: 10vh;
    min-height: fit-content;
    background-color: #2892de;
    color: #f0f0f0;
    cursor: pointer;
    position: absolute;
    bottom: 5vh;
    right: 0;
    transform: translate(-50%, -50%);
}
@media (max-height: 668px) {
    .scrollDown{
        height: 13vh;
    }
}
.scrollDown:hover{
    background-color: #2892dedb;
}
.purposefulText{
    font-size: 1.9em;
    overflow-wrap: normal;
}
@keyframes fadeInAnimation {
    
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bob {
    
    0% {
        box-shadow: 0 0px 0px white;
    }
    50%{
        box-shadow: 0 0px 25px white;
    }
    
    100% {
        box-shadow: 0 0px 0px white;
    }
}

.animateinvis{
    opacity: 0;
}
.appear{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@media (min-width: 600px) {
    .playstylesContainer {
      min-height: none;
      max-height: none;
      height: 50vh;
      width: 80vw;
    }
    .kids{
        height: 35vh;
    }
    .scrollDown{
        font-size: 2.1em;
    }
    
    .purposeful{
        height: fit-content;
        min-height: 30vh;
        font-size: 1.5em;
    }
    .popupButton{
        height: 5vw;
        width: 5vw;
        align-self: center;
        align-content: center;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .popupButtonIcon{
        margin: auto;
        align-self: center;
    }
    #mainBanner .intro-text{
        position: absolute;
        top: 170px;
        width: 80vw;
    }
    #mainBanner .intro-text h1{
        font-size: 3.2em;
    }
    .intro-text
    {
        bottom: 6vh;
        font-size: 1.4em;
        width: 80vw;
    }
    .popupButton{
        width: 10vw;
        height: 10vw;
    }
    .user{
        font-size: 2em;
    }
    .intro-text{
        font-size:2.1em;
    }
 
    .CrumbHolder{
       margin: 0;
    }
    
    .item{
        font-size: 1.4em;
        height: 27vh;
    }
    .track{
        height: 27vh;
    }
    .styletitle{
        font-size: 1.7em;
    }
    
  }
  @media (max-width: 391px) {
    .playstylesContainer {
        max-height: none;
        min-height: none;
      height: 8vh;
      width: 70vw;
    }
    .kids{
        height: 20vh;
    }
    .purposeful{
        height: fit-content;
        min-height: 10vh;
        font-size: .65em;
        padding: 1.3vh;
    }
    #mainBanner .intro-text{
        position: absolute;
        width: 90vw;
        top: 140px;
    }
    #mainBanner .intro-text h1{
        font-size: 1.9em;
    }
  }
  @media (min-width: 600px){
    .blurbs{
        border-left-style: groove;
        border-right-style: groove;
        padding: 3vw;
        border-radius: 20px;
        width: 70vw;
        margin: 0 auto;
    }
    .purposefulText{
        font-size: 1.2em;
        margin: auto;
        text-align: center;       
    }
    .scrollDown{
        display: none;
    }
    #mainBanner .intro-text{
        top: 50%;
        font-size: 1.5em;
    }
    #mainBanner{
        position: relative;
    }
    .background-imagehome::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient( #000000ab, rgba(0, 0, 0, 0)); /* Adjust gradient as needed */
        pointer-events: none; /* Allows clicking through the gradient overlay */
    }
    .icon-large{
        height: 100px;
        width: 100px;
        margin-top: 2vh;
    }
    .kids{
        height: 35vh;
        width: 25vw;
    }
    .playstylesContainer {
        max-height: none;
        min-height: none;
      height: 50vh;

      width: 50vw;
    }
    .purposeful{
        width: 30vw;
    }
  }
  @media (min-width: 1900px) {

    .playstylesContainer {
        max-height: none;
        min-height: none;
      height: 30vh;

      width: 70vw;
    }
    .kids{
        height: 20vh;
    }
    .purposeful{
        height: fit-content;
        min-height: 10vh;
        font-size: .7em;
    }
    .slidercontainer{
        width: 80vw;
        align-self: center;
        margin: auto;
        border-style: solid;
        border-color:#54B9B6;
        margin-bottom: 15px;
    }
    .item{
        width: 12vw;
        height: 22vh;
    }
    .track{
        height: 22vh;
    }
    .user{
        font-size: 1.1em;
        width: fit-content;
        margin: auto;
        margin-bottom: 7vh;
        margin-top: 7vh;
    }
    .styletitle{
        font-size: 3em;
        font-weight: 200;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 30px;
    }
    .slidercontainer::-webkit-scrollbar {
        display: none;
      }

    .popupButton{
        height: fit-content;
        width: fit-content;
        display: flex;
    }
    .popupButtonIcon{
        height: 1vw;
        width: 1vw;
    }
    .popupButtonIconHome{
        height: 2vw;
        width: 2vw;
    }
    .imgbox{
        width: 45vw;
    }
    .descriptoin{
        font-size: 1.5em;
    }
    .kids{
        object-fit:contain;
        width: 40vw;
        height: 70vh;
        float: none;
        border-style: none;
    }

    .purposeful{
        width: 30vw;
        height: 60vh;
        min-height: fit-content;
        padding-left: 1vw;
        padding-right: 1vw;
        float: none;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .playstylesContainer{
        margin-top: 5vh;
        
        height: 35vw;
        width: 60vw;
        display: flex;
        flex-direction: column;
        border-left-style: solid;
        border-right-style: solid;
        border-width: 1px;
        
    }
    .map-info-div {
        bottom: 1vw; /* Adjust as needed */
        width: 20vw; /* Adjust width as needed */
        max-width: fit-content; /* Optional: set a max width */
        max-height: 80%; /* Adjust height as needed */
        background: #ffffff8a;
        padding-top: 0;
        border-radius: 5px;
        left: 15vw;
        height: inherit;
        margin-bottom: 5vh;
        height: 100%;
        flex-direction: column;
    
    }
    .box-image-container{
        min-height: auto;
        width: 100%;
     height: fit-content;
        padding: 0;
        margin: 0;
    }
    .box-image{
        object-fit:cover;
        width: 100%;
        height: 30vh;
        padding:0;
        margin: 0;
    }
    .map-text p{
        font-size: 2em;
        margin-top: 1vh;
    }
    .map-text h2{
        font-size: 2.2em;
    }
    .map-text a{
        padding: 1vh;
        font-size:1em;
    }
    .blurbs{
        border-left-style: groove;
        border-right-style: groove;
        padding: 3vw;
        border-radius: 20px;
        width: 70vw;
        margin: 0 auto;
    }
    .purposefulText{
        font-size: 3em;
        margin: auto;
        text-align: center;       
    }
    .scrollDown{
        display: none;
    }
    #mainBanner .intro-text{
        top: 50%;
        font-size: 1.5em;
    }
    #mainBanner{
        position: relative;
    }
    .background-imagehome::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient( #000000ab, rgba(0, 0, 0, 0)); /* Adjust gradient as needed */
        pointer-events: none; /* Allows clicking through the gradient overlay */
    }
    .icon-large{
        height: 100px;
        width: 100px;
        margin-top: 2vh;
    }
  }
  *{
    font-weight:350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

  }
  .popupButton{
    animation: bob ease 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }